/* Genel Ayarlar */
body {
  padding: 1rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: red;
}

h2,
h4 {
  text-transform: uppercase;
}

/* Header Ayarlar*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

header h1 {
  color: red;
  margin: 0;
  flex: 1;
}

header nav {
  display: flex;
  gap: 0.5rem;
}

header nav a {
  color: rgb(111, 111, 111);
  text-decoration: none;
}

header .user-panel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  justify-content: flex-end;
}

.user-panel img {
  border-radius: 100px;
  width: 2.5rem;
}

.nav-menu {
  display: none;
}

.search-container {
  position: relative;
}

.search-container .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #aaa;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-container input {
  width: calc(100% - 2rem);
  padding: 0.3rem 1.5rem 0.3rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.search-container input:focus {
  outline: none;
  border-color: red;
}

/* Hero */
main {
  aspect-ratio: 5/3;
  border: 1px solid black;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.user-rating i {
  color: red;
}

.content-rating {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin: 0 0.5rem;
}

.main-movie {
  width: 60%;
}

.movie-details span {
  color: red;
  font-weight: bold;
}

.movie-details p {
  margin: 0.5rem 0;
}

button {
  background: red;
  border: 0;
  padding: 0.6rem 2.1rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

button i {
  margin-left: -1rem;
  margin-right: 0.5rem;
}
button:hover {
  background-color: #ff6b81;
}

/* Suggestion */
.suggestion-row {
  margin-bottom: 2rem;
}

.suggestion-row-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestion-row-title a {
  text-decoration: none;
  color: gray;
}

.suggestion-row-title a:hover {
  color: red;
}

.suggestion-row-title h3 {
  margin: 0.5rem 0;
}

.suggestion-movies {
  display: flex;
  gap: 1.5rem;
}

.movie-card {
  border: 1px solid black;
  min-width: 250px;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  transition: transform 0.3s;
}
.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  border-radius: 8px 8px 0 0;
  width: 50%;
}
.movie-card h4 {
  margin: 0;
}

.movie-card .content-rating {
  margin-left: 0;
}

.movie-detail-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.movie-card button {
  padding: 0.5rem 1.8rem;
  border-radius: 0.4rem;
  font-size: 1rem;
}

.movie-card button i {
  margin-left: -0.8rem;
  margin-right: 0.3rem;
}
.suggestion-movies {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  padding-bottom: 1rem;
}
.suggestion-movies::-webkit-scrollbar {
  height: 8px;
}

.suggestion-movies::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.suggestion-movies::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 20px;
}

footer h5 {
  margin-top: 0;
}

.footer-navigation nav {
  display: flex;
  gap: 1rem;
}

.social-navigation {
  min-width: 120px;
}

.mobile-app-navigation {
  min-width: 230px;
}

.mobile-app-navigation img {
  height: 2rem;
}

/* Mobil Uyumlu Düzenlemeler */
@media (max-width: 768px) {
  header {
    flex-wrap: wrap;
  }

  header nav {
    order: 1;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    display: none;
  }

  header .nav-menu {
    display: flex;
    cursor: pointer;
  }

  header .user-panel {
    display: none;
  }

  .main-movie {
    width: 100%;
  }

  footer {
    flex-wrap: wrap;
    text-align: center;
  }

  footer nav {
    justify-content: center;
  }

  .social-navigation,
  .mobile-app-navigation {
    width: 100%;
  }

  .search-container input {
    width: calc(100% - 2rem);
    padding: 0.3rem 1.5rem 0.3rem 1rem;
  }
}
